name: Tests

on:
  push:
    branches: [ main, update-from-18.01 ]
  pull_request:
    branches: [ main, update-from-18.01 ]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: xcodebuild test -project CarsharingAfon.xcodeproj -scheme CarsharingAfon -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.5' -enableCodeCoverage YES | tee xcodebuild.log
    - name: Upload logs if failed
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: xcodebuild-log
        path: xcodebuild.log
